<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964054173094-8i8u67gp6va514bd930lppim34glcv69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964054173094-8i8u67gp6va514bd930lppim34glcv69</string>
	<key>API_KEY</key>
	<string>AIzaSyAsDg4UjOJHoRCPGpQhFD6xFdVTiJjJR5s</string>
	<key>GCM_SENDER_ID</key>
	<string>964054173094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JeremyTandjung.ChatAppStarter</string>
	<key>PROJECT_ID</key>
	<string>chat-app-blckbird</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-blckbird.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964054173094:ios:a39c915fd6b2c4919afb67</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-blckbird.firebaseio.com</string>
</dict>
</plist>